* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    text-align: left;
    flex-wrap: wrap;
}

.item {
    flex-basis: 20%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
}

.container .item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.paragraph {
    color: rgba(255, 255, 255, 0.819);
    font-size: 20px;
}