* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    paddng: 2rem;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .item {
    flex-basis: 80%;
    min-width: 250px;
    min-height: 250px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: #DDD;
    margin: 10px;
    transition: .3s ease background-color;
}

.item:hover {
    background-color: #f05454
}

.item:hover h3 {
    color: rgba(255, 255, 255, 0.924) !important;
}

.container .item h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: .3s ease-in color;
}

.container .item h3 {
    color: #f05454;
    transition: .3s ease color;
    margin-bottom: 5px;
}

.paragraph {
    color: black;
    font-size: 20px;
    transition: .3s ease color;
    letter-spacing: 0.5px;
}


@media only screen and (min-width:768px) {
    .container {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container .item {
        flex-basis: 30%;
        width: 200px;
        height: 250px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        justify-self: left;
        transition: .3s ease background-color;
    }

    .item:hover h3 {
        color: rgba(255, 255, 255, 0.924);
    }
}

/* .item :is(p, h1) {}

.item p,
.item h1 {} */

/* :is(.header, .section) p:hover {}

.header p:hover,
.section p:hover {} */
