* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.container .item {
    flex-basis: 20%;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
    margin: 10px;
    transition: .3s ease background-color;

}

.item:hover {
    background-color: rgb(37, 173, 3);
}

.item:hover h2 {
    color: rgb(0, 0, 0) !important;
}

.container .item h2 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.924);
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: .3s ease background-color;
}

.container .item h3 {
    color: chartreuse;
    margin-bottom: 5px;
}

.item:hover h3 {
    color: rgba(255, 255, 255, 0.924);
}

.paragraph {
    color: rgba(255, 255, 255, 0.819);
    font-size: 20px;
    transition: .3s ease background-color;
    letter-spacing: 0.5px;
}

.item:hover .paragraph {
    color: rgb(0, 0, 0) !important;
}