* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    text-transform: capitalize;
}

button {
    width: 130px;
    height: 40px;
    text-transform: uppercase;
    border: transparent;
    font-size: 20px;
    background-color: #000;
    color: white;
    border-radius: 5px;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(242, 242, 242);
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 30px;
    min-height: 100vh;
    width: 60%;
}

.gameoutputs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
}

.pumps {
    padding-top: 20px;
}

.outputs {
    padding-top: 20px;
}