* {
    box-sizing: border-box;
}

.container {
    width: 230px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

button,
.button-label {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-label {
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background: black;
    outline: none;
    border: none;
}

.button-wrapper:hover {
    transform: scale(1.5);
    z-index: 100;
    filter: url('#shake0');
}

.button-wrapper:hover button {
    background: white;
}

.button-wrapper:hover .button-label {
    color: #000;
}